body {
	margin: 3% 5%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

li {
	list-style-type: none;
	margin-left: 0;
}

.error {
	margin: 20px auto;
	padding: 10px;
	color: red;
	border: 5px solid red;
	border-radius: 10px;
	background-color: pink;
}

.success {
	margin: 20px auto;
	padding: 10px;
	color: green;
	border: 5px solid green;
	border-radius: 10px;
	background-color: lightgreen;
}
